body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b,p {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(200, 15%, 8%);
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cardsContainer{
  display: flex;
  justify-content:space-evenly ;
  flex-wrap: wrap;
}

.card {
  height: 350px;
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.CountryName{
  font-weight: bold;
  font-size: medium;
  padding: 5%;
}

.cardText{
  padding: 5%;
  font-size: small;
}

.header{
  background-color: hsl(0, 0%, 100%);
  height: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.title{
  padding: 7%;
  font-weight: 800;
  font-size: 20px;
}